# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv/

# Jupyter
.ipynb_checkpoints/

# Obsidian
.obsidian/workspace.json
.obsidian/workspace-mobile.json

# OS
.DS_Store
Thumbs.db
.venv/
